{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7
    /css/bootstrap.min.css" integrity="sha384-
    BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" c
    rossorigin="anonymous"> 
    <link href="https://fonts.googleapis.com/css?family=Merriweather"
    rel="stylesheet"> 
    <link rel="stylesheet" href="{% static 'css/movie.css'%}"> 

</head>
<body>
    <h1>DURGA Movies...</h1> 
    <p>up to date movies information</p> 
    <a class="btn btn-primary btn-lg" href="/addmovie" role="button">Add Movie</a> 
    <a class="btn btn-primary btn-lg" href="/listmovies" role="button">List Movies</a>
</body>
</html>